In [2]:
# from pymongo import MongoClient
import numpy as np
import pandas as pd
import datetime
%load_ext line_profiler
pd.options.mode.chained_assignment = None
from datetime import timedelta
import sys
sys.path.insert(0, 'E:/Credence/Projects/Ideal6-python-worker')
import dbUnit as db
import computeUnit as cu

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

In [11]:
portfolio = db.getDataFromOracle("port_daily","2019-02-01").fillna(0).replace("NA",0)
portfolio['ASONDATE']='2019-02-01'
portfolio['AMOUNT'] = portfolio['AMOUNT'].astype(int)
portWeights = portfolio.pivot_table(index='PORTCODE',columns='ISIN',values="AMOUNT").apply(lambda x: x/(x.sum()),axis=1).stack().reset_index().rename(columns={0:"WEIGHTS"})
# weigthsPort = portfolio.groupby(by="PORTCODE").apply(lambda x:(x['AMOUNT']/x['AMOUNT'].sum())).reset_index().rename(columns={"AMOUNT":"WEIGHTS"}).drop(columns='level_1')
# weigthsPort['ISIN'] = portfolio['ISIN']

portWeights = portfolio.merge(portWeights,on=['PORTCODE',"ISIN"],how='left')
portWeights

,PORTCODE,ISIN,AMOUNT,ASSETCLASS,SECTOR,ASONDATE,WEIGHTS
0,500002,0,1051600,DEBT,49,2019-02-01,-1.425374e-02
1,500002,IN0020009920,100,DEBT,48,2019-02-01,3.260601e-08
2,500002,0,101403,DEBT,2,2019-02-01,-1.425374e-02
3,500002,0,91588148,DEBT,2,2019-02-01,-1.425374e-02
4,500002,0,74146,DEBT,8,2019-02-01,-1.425374e-02
5,500002,0,0,DEBT,5,2019-02-01,-1.425374e-02
6,500002,a,107504368,DEBT,1,2019-02-01,3.505289e-02
7,500002,0,0,DEBT,5,2019-02-01,-1.425374e-02
8,500002,0,50500000,DEBT,5,2019-02-01,-1.425374e-02
9,500002,0,116410,DEPO,1,2019-02-01,-1.425374e-02
10,500002,0,116410,DEPO,1,2019-02-01,-1.425374e-02
11,500002,0,115554,DEPO,1,2019-02-01,-1.425374e-02
12,500002,0,115554,DEPO,1,2019-02-01,-1.425374e-02
13,500002,0,58074003,DEPO,1,2019-02-01,-1.425374e-02
14,500002,0,58069234,DEPO,2,2019-02-01,-1.425374e-02
15,500002,0,58069234,DEPO,2,2019-02-01,-1.425374e-02
16,500002,0,219152,DEPO,4,2019-02-01,-1.425374e-02
17,500002,0,20000,DEPO,10,2019-02-01,-1.425374e-02
18,500002,0,83647,DEPO,6,2019-02-01,-1.425374e-02
19,500002,0,50000,DEPO,10,2019-02-01,-1.425374e-02
20,500016,IN0020009920,157722,DEBT,48,2019-02-01,2.817065e-04
21,500016,0,104,DEBT,2,2019-02-01,-8.610115e-03
22,500016,0,0,DEBT,5,2019-02-01,-8.610115e-03
23,500016,0,3000,bonds,8,2019-02-01,-8.610115e-03
24,500016,0,0,bonds,8,2019-02-01,-8.610115e-03
25,500016,a6,1573,DEBT,1,2019-02-01,2.809527e-06
26,500016,Teest123,4781,DEBT,6,2019-02-01,8.539319e-06
27,500016,458,290,DEBT,1,2019-02-01,5.179675e-07
28,500016,0,479400,DEBT,8,2019-02-01,-8.610115e-03
29,500016,0,94984,DEBT,8,2019-02-01,-8.610115e-03
...,...,...,...,...,...,...,...
657,500151,0,1000000,DEPO,1,2019-02-01,2.223968e-01
658,500151,0,7200,SLR,49,2019-02-01,2.223968e-01
659,500151,0,5150,DEBT,1,2019-02-01,2.223968e-01
660,500154,0,4120,DEBT,2,2019-02-01,1.000000e+00
661,500154,0,5500,DEBT,2,2019-02-01,1.000000e+00
662,500154,0,5050,DEBT,2,2019-02-01,1.000000e+00
663,500154,0,5500,DEBT,2,2019-02-01,1.000000e+00
664,500154,0,1000000,DEPO,1,2019-02-01,1.000000e+00
665,500154,0,10000,DEPO,8,2019-02-01,1.000000e+00
666,500154,0,3920,SLR,49,2019-02-01,1.000000e+00
667,500154,0,4900,SLR,49,2019-02-01,1.000000e+00
668,500154,0,4900,SLR,49,2019-02-01,1.000000e+00
669,500261,0,51000,DEBT,41,2019-02-01,1.000000e+00
670,500007,0,100,DEBT,4,2019-02-01,1.000000e+00
671,500170,0,48750000,DEBT,6,2019-02-01,1.000000e+00
672,500095,0,16494,DEBT,5,2019-02-01,1.000000e+00
673,500098,0,38406,BONDS,48,2019-02-01,1.000000e+00
674,500017,555555,90199,DEBT,48,2019-02-01,2.221486e-02
675,500017,0,3970101,bonds,8,2019-02-01,9.777851e-01
676,500116,0,49723455,SLR,1,2019-02-01,1.000000e+00
677,500116,0,255718282,SLR,1,2019-02-01,1.000000e+00
678,500116,0,56853235,DEBT,1,2019-02-01,1.000000e+00
679,500003,555555,50500,DEBT,48,2019-02-01,1.479833e-03
680,500003,0,153000,DEBT,5,2019-02-01,1.187230e-01
681,500003,0,357923,DEBT,48,2019-02-01,1.187230e-01
682,500003,0,1010000,DEBT,8,2019-02-01,1.187230e-01
683,500003,0,102000,DEBT,48,2019-02-01,1.187230e-01
684,500003,0,46323,BONDS,1,2019-02-01,1.187230e-01
685,500003,0,0,DEBT,2,2019-02-01,1.187230e-01
686,500003,123,23500,DEBT,8,2019-02-01,6.886350e-04

In [3]:
# portWeights2 = portfolio.pivot_table(index='PORTCODE',columns='ISIN',values="AMOUNT").apply(lambda x: x/(x.sum()),axis=1)
# finalPortWeights=portWeights2.merge(portWeights2.reindex(groupReturns[~groupReturns.index.isin(portWeights2.columns.values)].index.values,axis=1),left_index=True,right_index=True).fillna(0)[groupReturns.index.values]

In [ ]:
allGroupReturns = db.getDataFromMongo("groupreturns","2018-01-01")
groupReturns = allGroupReturns[allGroupReturns['TYPE']=='SECURITIES'].drop(columns=["ASONDATE","RETURNTYPE","TYPE"]).set_index('CODE')

In [24]:
portReturns = portWeights.merge(groupReturns,left_on='ISIN',right_index=True,how='left')

In [25]:
portReturns[groupReturns.columns] = portReturns[groupReturns.columns].multiply(portReturns['WEIGHTS'],axis='index')

In [26]:
db.insertDataToMongo("portfolioreturns",portReturns,"2018-01-01")

In [27]:
db.insertDataToOracle("portfolioreturns",portReturns)

OperationalError: ORA-03114: not connected to ORACLE

In [28]:
# finalPortWeights.dot(groupReturns)

In [10]:
# pw = portWeights.groupby('PORTCODE').apply(lambda x: ((x["WEIGHTS"].values*groupReturns.transpose()[x['ISIN']].values).transpose()))

# pwgr = pd.DataFrame(np.row_stack(pw))

# pwgr.columns = groupReturns.transpose().index

# pd.concat([portWeights,pwgr],axis=1)

### V2
- Multiply weights with Daily Returns [pct_change()]
- compute log returns
- calculate group returns 1w,1m...

In [ ]:
date = "2019-02-01"
# dailyAdjPrice = pd.read_csv("../../../dailyadjclose_securities.csv",index_col=0)
dailyAdjPrice = db.getDataFromMongo("dailyadjclose_securities",date)

In [129]:
filteredDailyAdjPrice = pd.DataFrame(columns= portWeights['ISIN'].unique())
dailyAdjPrice=filteredDailyAdjPrice.T.merge(dailyAdjPrice.T,left_index=True,right_index=True,how='left').T.replace(np.inf,np.nan).fillna(0)

portfolioDailyAdjPrice = portWeights['WEIGHTS'].values * dailyAdjPrice[portWeights['ISIN'].values]

portfolioLogReturns = np.log(portfolioDailyAdjPrice.pct_change() + 1).replace([np.inf, -np.inf], np.nan).fillna(0)
portfolioLogReturns['ASONDATE']= pd.to_datetime(date, format="%Y-%m-%d")
portfolioLogReturns = portfolioLogReturns.set_index("ASONDATE")

portfolioLogReturns.columns=(portWeights['PORTCODE'].astype(str)+":"+portWeights['ISIN'].astype(str)).values

# dailyLogReturn = pd.read_csv("../../../dailyLogReturn.csv",index_col=0)
# dailyLogReturn = db.getDataFromMongo("dailylogreturns_portsec")

portfolioLogReturns = portfolioLogReturns.T.drop_duplicates().T
if not dailyLogReturn.empty:
    print("notEmpty: getting hist dailyLogReturns from mongo")
    dailyLogReturn = dailyLogReturn[dailyLogReturn['ASONDATE']!=date]
    portfolioLogReturns = dailyLogReturn.append(portfolioLogReturns.reset_index(),sort=False)
    db.insertDataToMongo("dailylogreturns_portsec",portfolioLogReturns)
else:
    print("Empty: saving todays data to mongo")
    db.insertDataToMongo("dailylogreturns_portsec",portfolioLogReturns.reset_index(),date)
    portfolioLogReturns.reset_index(inplace=True)

In [30]:
portLogReturns = {}
portLogReturns['LOGRETURNS'] = portfolioLogReturns.set_index("ASONDATE")
portLogReturns = pd.concat(portLogReturns, axis=1)

In [31]:
groupReturns = cu.calcGroupReturns(date,portLogReturns,["LOGRETURNS"])

groupReturns=groupReturns.reset_index()
groupReturns["PORTCODE"]=groupReturns['level_1'].str.split(":",expand=True)[0].values
groupReturns["ISIN"]=groupReturns['level_1'].str.split(":",expand=True)[1].values
groupReturns.drop(columns=['level_1',"level_0",'PORTCODE'],inplace=True)

In [14]:
portGroupReturns = portWeights.merge(groupReturns,on="ISIN",how="left").drop_duplicates(subset=['PORTCODE','ISIN'],keep='first')

In [17]:
db.insertDataToMongo("portfolioreturns",portGroupReturns,date)