In [1]:
from pymongo import MongoClient
import numpy as np
import pandas as pd
import json

In [12]:
client = MongoClient('localhost')
db = client.Returns_WealthNFunds

In [13]:
def insertMongo(collectionName,data):
    db.get_collection(collectionName).drop()
    db.get_collection(collectionName).insert_many(json.loads(data.reset_index().to_json(orient='records',date_format='iso')))

def readMongo(collectionName):
    data  = pd.DataFrame(list(db.get_collection(collectionName).find()))

    return data

In [18]:
caData = pd.read_csv('../Src/excel/input/priceData/CA_DATA_11.csv')
priceJanJune17 = pd.read_csv('../Src/excel/input/priceData/Price Data Jan to Jun 17.csv')
priceJulDec17 = pd.read_csv('../Src/excel/input/priceData/Price Data Jul to Dec 17.csv')

# replace missing dates of BC_TO_DATE <-- BSE_NSE_EX_DATE
caData = caData.fillna({
    "BC_TO_DATE":caData["BSE_NSE_EX_DATE"]
})
caData['BC_TO_DATE'] = pd.to_datetime(caData['BC_TO_DATE'],format='%d/%m/%Y')

In [29]:
def xformation(portfolio,price):
    price['ISIN'] = price['ISIN'].fillna(0)
    price['MTMDATE'] = pd.to_datetime(price['MTMDATE'],format='%d-%m-%Y')

    # getting all dates prices by merge and ffill/bfill
    dateDf = pd.DataFrame(index = pd.date_range(price['MTMDATE'].min(),price['MTMDATE'].max()))

    distPrice = price.drop_duplicates(subset=["ISIN","MTMDATE"]).reset_index().drop(columns='index')
    pivotDistPrice = distPrice.pivot_table(index="MTMDATE",columns="ISIN",values="MTMPRICE")

    cols = distPrice['ISIN'].unique()
    cols = cols[~pd.isna(cols)]

    pivotDf = pd.merge(dateDf,pivotDistPrice,left_index=True,right_index=True,how="left").fillna(method='ffill').fillna(method='bfill')
    pivotDf = pivotDf[cols]
    pivotDf = pivotDf.rename_axis(None, axis=1).stack().reset_index().rename(columns={'level_0':"Date",'level_1':"ISIN",0:"MTMPRICE"})
    
    distCaData = caData.drop_duplicates(subset=["ISIN","BC_TO_DATE"]).reset_index().drop(columns='index')
    print(distCaData.dtypes)
    print(pivotDf.dtypes)
    mergeDF = pd.merge(pivotDf,distCaData,left_on=["ISIN","Date"],right_on=["ISIN","BC_TO_DATE"],how='left')
    mergeDF['OLD_RATIO'] = mergeDF['OLD_RATIO'].fillna(1)
    mergeDF['NEW_RATIO'] = mergeDF['NEW_RATIO'].fillna(1)
    
    finalDf = pd.DataFrame()
    finalDf['Date'] = mergeDF['Date']
    finalDf['ISIN'] =mergeDF['ISIN']
    finalDf['close'] = mergeDF['MTMPRICE']
    finalDf['dividend'] = mergeDF['DIVIDEND_RATE'].fillna(0)
    finalDf['split_ratio'] = (mergeDF['OLD_RATIO']/mergeDF['NEW_RATIO'])
    finalDf.set_index('Date',inplace=True)
    finalDf.sort_index(inplace=True)   
    
    rawPrices = finalDf.pivot_table(index='Date',columns='ISIN',values='close')[cols]
    dividend = finalDf.pivot_table(index='Date',columns='ISIN',values='dividend')[cols]
    splitRatio = finalDf.pivot_table(index='Date',columns='ISIN',values='split_ratio')[cols]
    
    return rawPrices,dividend,splitRatio

In [19]:
# get all 2017 prices 
price = priceJanJune17.append(priceJulDec17)

In [30]:
r,d,sr = xformation(caData,price)

EVENT_TYPE                          object
BC_NUMBER                            int64
COMPANY_NAME                        object
BSE_OR_NSE_CODE                     object
ISIN                                object
BC_FROM_DATE_RECORD_DATE            object
BC_TO_DATE                  datetime64[ns]
BSE_NSE_EX_DATE                     object
REMARKS                             object
DIVIDEND_RATE                      float64
DIVIDEND_AMOUNT_SHARE              float64
A_U_C_D_FLAG                        object
NEW_RATIO                          float64
OLD_RATIO                          float64
ISSUE_PRICE                        float64
SUBSCRIPTION_START_DATE            float64
SUBSCRIPTION_END_DATE              float64
NOTES                              float64
EXCHANGE                            object
ISIN_EFF_DATE                       object
OLD_ISIN                           float64
OLD_NAME                           float64
PAYDATE                             object
FACEVALUE                          float64
MARKETLOT                          float64
GROUPTYPE                          float64
SECURITYTYPE                       float64
SETTLEMENTMODE                     float64
dtype: object
Date        datetime64[ns]
ISIN                object
MTMPRICE           float64
dtype: object

In [18]:
insertMongo("rawPrices",r)
insertMongo("dividend",d)
insertMongo("splitRatio",sr)

### Incremental Code

In [9]:
newPrice = pd.read_csv('excel/input/incremental/newDate.csv')
# insertMongo("newPrice",newPrice)

In [10]:
newPrice

,ISIN,SECURITYSYMBOL,MTMPRICE,MTMDATE,Unnamed: 4
0,CBLO 12-01-2018/15-01-2018,CBLO 12-01-2018/15-01-2018,100.0000,1/1/2018,NaN
1,INE115A07KC0,LIC HOUSING FINANCE LTD...8.02% NCD 18-02-2020,100.0568,1/1/2018,NaN
2,INE115A07DY9,LIC HOUSING FINANCE LTD...8.31% NCD 22-05-2018,100.0520,1/1/2018,NaN
3,INE115A07KH9,LIC HOUSING FINANCE LTD... 7.98% NCD 15-05-2020,99.9112,1/1/2018,NaN
4,INE115A07JV2,LIC HOUSING FINANCE LTD... 8.47% NCD 07-07-2020,100.9601,1/1/2018,NaN
5,INE115A07GB0,LIC HOUSING FINANCE LTD.(PUT-10.05.2017) 8.70%...,101.1524,1/1/2018,NaN
6,INE115A07GO3,LIC HOUSING FINANCE LTD... 8.47% NCD 21-01-2020,100.8847,1/1/2018,NaN
7,INE115A07LA2,LIC HOUSING FINANCE LTD... 7.35% NCD 16-02-2018,100.0284,1/1/2018,NaN
8,INE115A07LE4,LIC HOUSING FINANCE LTD... 7.51% NCD 14-08-2018,99.7024,1/1/2018,NaN
9,INE115A07LG9,LIC HOUSING FINANCE LTD... 7.5072% NCD 20-11-2018,99.6604,1/1/2018,NaN
10,INE115A07LN5,LIC HOUSING FINANCE LTD...7.78% NCD 24-06-2020,99.4765,1/1/2018,NaN
11,INE115A07KT4,LIC HOUSING FINANCE LTD.. 7.585% NCD 11-06-2020,99.1643,1/1/2018,NaN
12,INE115A07GC8,LIC HOUSING FINANCE LTD... 8.5937% NCD 18-11-2019,100.9958,1/1/2018,NaN
13,INE115A07MP8,LIC HOUSING FINANCE LTD... 7.2% NCD 12-02-2019,99.2973,1/1/2018,NaN
14,INE115A07MI3,LIC HOUSING FINANCE LTD..6.950% NCD 06-09-2018,99.3605,1/1/2018,NaN
15,INE115A14722,LIC HOUSING FINANCE LTD... CP 21-02-2018,99.3445,1/1/2018,NaN
16,INE523E07BO1,L & T FINANCE LTD. 8.9064% NCD 14-05-2018,100.1954,1/1/2018,NaN
17,INE523E07BY0,L & T FINANCE LTD. 8.8763% NCD 27-05-2019,101.0519,1/1/2018,NaN
18,INE523E07CF7,L & T FINANCE LTD. 8.8763% NCD 04-06-2019,101.0659,1/1/2018,NaN
19,INE523E07CW2,L & T FINANCE LTD. 8.8% NCD 03-09-2018,100.3671,1/1/2018,NaN
20,INE691I07968,L&T INFRASTRUCTURE FINANCE COMPANY LTD 9.0575%...,100.2276,1/1/2018,NaN
21,INE691I07BP4,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.8634%...,100.3348,1/1/2018,NaN
22,INE691I07BO7,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.8652%...,100.3173,1/1/2018,NaN
23,INE691I07CD8,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.6038%...,100.3077,1/1/2018,NaN
24,INE691I07DL9,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.4838%...,100.1078,1/1/2018,NaN
25,INE691I07DO3,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.4% NC...,100.2644,1/1/2018,NaN
26,INE691I07DP0,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.3876%...,100.3551,1/1/2018,NaN
27,INE691I07CI7,L&T INFRASTRUCTURE FINANCE COMPANY LTD 8.65% N...,100.3712,1/1/2018,NaN
28,INE128M08011,"L&T METRO RAIL (HYD) LTD. (P/C 18/06/2025,18/0...",122.6801,1/1/2018,NaN
29,INE128M08037,L&T METRO RAIL (HYDERABAD) LTD.( P/C 28-01-202...,119.8651,1/1/2018,NaN
...,...,...,...,...,...
1290,INE403G14JL6,STAND. CHART. INV & LOANS INDIA PVT LTD. CP 20...,98.6985,1/1/2018,NaN
1291,INE403G14JN2,STAND. CHART. INV & LOANS INDIA PVT LTD. CP 21...,97.2178,1/1/2018,NaN
1292,INE403G14JM4,STAND. CHART. INV & LOANS INDIA PVT LTD. CP 12...,99.4730,1/1/2018,NaN
1293,INE722A07547,SHRIRAM CITY UNION FINANCE LIMITED 10.85% NCD ...,102.7778,1/1/2018,NaN
1294,INE722A07703,SHRIRAM CITY UNION FINANCE LIMITED 8.8455% NCD...,100.1466,1/1/2018,NaN
1295,INE328U07012,"SEI BASKARA POWER PRIVATE LIMITED (CALL16/11,0...",98.3698,1/1/2018,NaN
1296,INE257U07013,SEI ENERSTAR RENEWABLE ENERGY PRIVATE LTD (CAL...,98.3698,1/1/2018,NaN
1297,INE205A07089,VEDANTA LIMITED. 8.25% NCD 28-10-2019,100.2582,1/1/2018,NaN
1298,INE205A14KQ5,VEDANTA LIMITED. CP 25-01-2018,99.8107,1/1/2018,NaN
1299,INE205A14KX1,VEDANTA LIMITED. CP 12-02-2018,99.5045,1/1/2018,NaN
1300,INE205A14KY9,VEDANTA LIMITED. CP 14-02-2018,99.4770,1/1/2018,NaN
1301,INE205A14LE9,VEDANTA LIMITED. CP 28-02-2018,99.2107,1/1/2018,NaN
1302,INE205A14LC3,VEDANTA LIMITED. CP 27-02-2018,99.2586,1/1/2018,NaN
1303,INE205A14LQ3,VEDANTA LIMITED. CP 13-03-2018,98.9930,1/1/2018,NaN
1304,INE601U07020,SHEBA PROPERTIES LIMITED (TMFL) (PREMIUM) ZCB ...,104.9804,1/1/2018,NaN
1305,INE601U14281,TATA MOTORS FINANCE LIMITED (SHEBA) CP 12-02-2018,99.4566,1/1/2018,NaN
1306,INE601U14323,TATA MOTORS FINANCE LIMITED (SHEBA) CP 20-02-2018,99.3575,1/1/2018,NaN
1307,INE601U14299,TATA MOTORS FINANCE LIMITED (SHEBA) CP 08-02-2018,99.5368,1/1/2018,NaN
1308,INE721A07MH0,SHRIRAM TRANSPORT FINANCE CO. LTD (PUT 12.07.2...,99.6289,1/1/2018,NaN
1309,INE721A07LT7,SHRIRAM TRANSPORT FINANCE CO. LTD (PREMIUM) ZC...,106.1769,1/1/2018,NaN
1310,INE721A14AR0,SHRIRAM TRANSPORT FINANCE CO. LTD CP 22-03-2018,98.7267,1/1/2018,NaN
1311,INE683A16JV0,SOUTH INDIAN BANK LTD. CD 29-01-2018,99.7480,1/1/2018,NaN
1312,INE683A16JX6,SOUTH INDIAN BANK LTD. CD 23-02-2018,99.3253,1/1/2018,NaN
1313,INE683A16KA2,SOUTH INDIAN BANK LTD. CD 26-02-2018,99.2651,1/1/2018,NaN
1314,INE683A16JU2,SOUTH INDIAN BANK LTD. CD 13-03-2018,98.9921,1/1/2018,NaN
1315,INE683A08036,SOUTH INDIAN BANK LTD. (CALL 28.11) 9.5% NCD 2...,99.9267,1/1/2018,NaN
1316,INE683A16JY4,SOUTH INDIAN BANK LTD. CD 28-02-2018,99.2180,1/1/2018,NaN
1317,INE556F09478,SIDBI 8.20% NCD 07-06-2018,100.4115,1/1/2018,NaN
1318,INE556F09502,SIDBI 8.27% NCD 20-03-2018,100.2338,1/1/2018,NaN
1319,INE042A01014,SIDBI 8.27% NCD 20-03-2018,110.0000,1/1/2018,NaN

In [218]:
# newPrice= readMongo("newPrice")
newPrice['MTMDATE']=newPrice['MTMDATE'].str.replace('/','-')

r1,d1,sr1 = xformation(caData,newPrice)
rawPrices = r.append(r1,sort=False).fillna(method='ffill').fillna(method='bfill')
dividend = d.append(d1,sort=False).fillna(method='ffill').fillna(method='bfill')
splitRatio = sr.append(sr1,sort=False).fillna(method='ffill').fillna(method='bfill')

In [221]:
insertMongo("rawPrices",rawPrices)
insertMongo("dividend",dividend)
insertMongo("splitRatio",splitRatio)

In [ ]:
# rawPrices.to_csv('excel/testcases/rawAppend.csv')
# dividend.to_csv('excel/testcases/dividendAppend.csv')
# splitRatio.to_csv('excel/testcases/splitRatioAppend.csv')

### NAV

In [222]:
navData = pd.read_csv('excel/input/NAV DATA.csv')

In [224]:
navData

           NAVDATE  PORTCODE PLAN        NAV     NETASSETS
0       01-01-2017         1   AB    76.2113  1.104292e+06
1       01-01-2017         1   AD    42.9082  2.635619e+08
2       01-01-2017         1   AG   449.5133  6.606566e+08
3       01-01-2017         1   BP    73.8253  2.386099e+08
4       01-01-2017         1   DP    41.6068  6.644867e+09
5       01-01-2017         1   GP   438.3388  2.116863e+10
6       01-01-2017         1   ID   267.9983  3.146300e+02
7       01-01-2017         2   AB   142.2769  2.765993e+06
8       01-01-2017         2   AD    73.2537  5.628991e+08
9       01-01-2017         2   AG   856.3841  1.680807e+09
10      01-01-2017         2   BP   138.5923  2.829110e+08
11      01-01-2017         2   DP    61.5366  1.297278e+10
12      01-01-2017         2   GP   833.1082  3.799255e+10
13      01-01-2017         2   ID   552.5113  1.620064e+07
14      01-01-2017         3  ADD  1528.7400  1.073549e+10
15      01-01-2017         3   AG  3903.2851  8.920149e+10
16      01-01-2017         3   AM  1591.2426  2.864860e+07
17      01-01-2017         3   AQ  1008.0688  7.612802e+06
18      01-01-2017         3   AW  1530.9162  6.133926e+07
19      01-01-2017         3   DD  1524.2800  2.809497e+07
20      01-01-2017         3   GP  3651.9474  1.068215e+09
21      01-01-2017         3  IDD  1528.7400  1.827536e+10
22      01-01-2017         3   IG  3890.8859  8.613377e+10
23      01-01-2017         3   IM  1587.9077  8.649264e+07
24      01-01-2017         3   IQ  1005.6351  4.139720e+06
25      01-01-2017         3   IW  1530.9100  8.702872e+08
26      01-01-2017         3   MP  1329.7530  6.288737e+06
27      01-01-2017         3   QP  1218.2400  1.142225e+06
28      01-01-2017         3   RW  1034.5313  2.811224e+07
29      01-01-2017         4   AB    15.7568  7.959252e+08
...            ...       ...  ...        ...           ...
530502  18-11-2018       829   AG    10.1965  9.621461e+08
530503  18-11-2018       829   GP    10.1925  1.506792e+08
530504  18-11-2018       830   AD    10.1361  1.054150e+08
530505  18-11-2018       830   AG    10.1361  1.668546e+09
530506  18-11-2018       830   GP    10.1328  6.728080e+08
530507  18-11-2018       831   AD    10.1662  5.083120e+03
530508  18-11-2018       831   AG    10.1662  9.201807e+07
530509  18-11-2018       831   DP    10.1632  1.558939e+06
530510  18-11-2018       831   GP    10.1632  1.745955e+08
530511  18-11-2018       832   AD    10.1003  3.324121e+04
530512  18-11-2018       832   AG    10.1003  1.777375e+09
530513  18-11-2018       832   DP    10.0985  5.150213e+05
530514  18-11-2018       832   GP    10.0985  2.940403e+08
530515  18-11-2018       833   AD    10.0888  5.750612e+05
530516  18-11-2018       833   AG    10.0888  4.514071e+08
530517  18-11-2018       833   DP    10.0868  4.286891e+06
530518  18-11-2018       833   GP    10.0868  1.746972e+08
530519  18-11-2018       834   AD    10.0547  5.027330e+03
530520  18-11-2018       834   AG    10.0546  1.521514e+08
530521  18-11-2018       834   DP    10.0515  5.578565e+05
530522  18-11-2018       834   GP    10.0515  2.691929e+08
530523  18-11-2018       837   AD    10.0821  1.109026e+05
530524  18-11-2018       837   AG    10.0821  8.567418e+08
530525  18-11-2018       837   DP    10.0809  5.040460e+03
530526  18-11-2018       837   GP    10.0810  1.166701e+08
530527  18-11-2018       838   AD    10.0557  3.016711e+04
530528  18-11-2018       838   AG    10.0557  5.032423e+08
530529  18-11-2018       838   DP    10.0547  2.010930e+04
530530  18-11-2018       838   GP    10.0546  1.142267e+08
530531  18-11-2018       839   GP    10.0000  3.440000e+09

[530532 rows x 5 columns]

###  Xformation Code Break-up

In [79]:
price['ISIN'] = price['ISIN'].fillna(0)
price['MTMDATE'] = pd.to_datetime(price['MTMDATE'],format='%d-%m-%Y')

distPrice = price.drop_duplicates(subset=["ISIN","MTMDATE"]).reset_index().drop(columns='index')

# getting all dates prices by merge and ffill/bfill
dateDf = pd.DataFrame(data = {"Date": pd.date_range(price['MTMDATE'].min(),price['MTMDATE'].max())})
dateDistPrice = pd.merge(dateDf,distPrice,left_on="Date",right_on=["MTMDATE"],how="left")

In [84]:
distPrice['MTMDATE'].unique().size

365

In [86]:
dateDf.size

365

In [35]:
cols = dateDistPrice['ISIN'].unique()
cols = cols[~pd.isna(cols)]

pivotDf = dateDistPrice.pivot_table(index =['Date'],columns=['ISIN']).fillna(method='ffill').fillna(method='bfill')
pivotDf.columns=pivotDf.columns.droplevel(0)
pivotDf = pivotDf.rename_axis(None, axis=1)
pivotDf = pivotDf[cols]
pivotDf = pivotDf.rename_axis(None, axis=1).stack().reset_index().rename(columns={'level_1':"ISIN",0:"MTMPRICE"})

In [ ]:
distCaData = caData.drop_duplicates(subset=["ISIN","BC_TO_DATE"]).reset_index().drop(columns='index')
mergeDF = pd.merge(pivotDf,distCaData,left_on=["ISIN","Date"],right_on=["ISIN","BC_TO_DATE"],how='left')
mergeDF['OLD_RATIO'].fillna(1,inplace=True)
mergeDF['NEW_RATIO'].fillna(1,inplace=True)

In [37]:
finalDf = pd.DataFrame()
finalDf['Date'] = mergeDF['Date']
finalDf['ISIN'] =mergeDF['ISIN']
finalDf['close'] = mergeDF['MTMPRICE']
finalDf['dividend'] = mergeDF['DIVIDEND_RATE'].fillna(0)
finalDf['split_ratio'] = (mergeDF['OLD_RATIO']/mergeDF['NEW_RATIO']).fillna(1)
finalDf.set_index('Date',inplace=True)
finalDf.sort_index(inplace=True)

In [38]:
rawPrices = finalDf.pivot_table(index='Date',columns='ISIN',values='close')[cols]
dividend = finalDf.pivot_table(index='Date',columns='ISIN',values='dividend')[cols]
splitRatio = finalDf.pivot_table(index='Date',columns='ISIN',values='split_ratio')[cols]

In [39]:
# rawPrices.to_excel('excel/output/rawPrices.xlsx')
# dividend.to_excel('excel/output/dividend.xlsx')
# splitRatio.to_excel('excel/output/splitRatio.xlsx')

In [40]:
rawPrices.to_csv('excel/output/rawPrices.csv')
dividend.to_csv('excel/output/dividend.csv')
splitRatio.to_csv('excel/output/splitRatio.csv')

In [68]:
with pd.option_context('display.max_rows',None):
    print(mergeDF[mergeDF['NEW_RATIO']>1])

             Date          ISIN  MTMPRICE EVENT_TYPE  BC_NUMBER COMPANY_NAME  \
844541 2017-06-15  INE376G01013     344.8      BONUS   170311.0  Biocon Ltd.

       BSE_OR_NSE_CODE BC_FROM_DATE_RECORD_DATE BC_TO_DATE BSE_NSE_EX_DATE  \
844541          532523               17/06/2017 2017-06-15      15/06/2017

             ...       EXCHANGE  ISIN_EFF_DATE  OLD_ISIN OLD_NAME     PAYDATE  \
844541       ...            BSE     13/06/2017       NaN      NaN  26/06/2017

        FACEVALUE  MARKETLOT  GROUPTYPE  SECURITYTYPE  SETTLEMENTMODE
844541        NaN        NaN        NaN           NaN             NaN

[1 rows x 30 columns]